body {
  font-family: 'Roboto', Arial, sans-serif
}

.loading-icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search{
  margin: 10px 0 0 0;
}

.typeahead,
.tt-query,
.tt-hint {
  line-height: 30px;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead:focus {
  border: 2px solid #D6D6D6;
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 50%;
  margin: 40px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  background-color: #D6D6D6;
}

.tt-suggestion.tt-cursor {
  background-color: #D6D6D6;

}

.tt-suggestion p {
  margin: 0;
}

.alert-margin {
  margin: 10px 0px;
}

.info-block {
  padding: 10px 20px 10px;
}

.weather-icon-size {
  width: 80px;
  height: 80px;
  margin: 0px 10px 20px 10px;
}

.additional-icon-size {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.info-block-header {
  margin: 0 0 20px;
  padding: 0 0 15px;
}

.info-block-header-right{
  padding: 10px 0 0 0;
  float: right;
  display: inline-block;
}

.info-block-header-left{
  display: inline-block;
}

.info-block-header-left-place{
  font-size: 22px;
}

.info-block-additional {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.info-block-additional-first{
  padding: 0 20px 0 0;
  width: 11%;
}

.info-block-additional-item-sun{
  display: inline-block;
  margin: 0 10px 0 0;
}

.info-block-content-temperature{
  display: inline-block;
  padding: 0 20px 0 0;
  vertical-align: top;
  font-size: 100px;
  line-height: 10px;
}

.day-period {
  display: inline-block;
  padding: 0 0 0 5%;
  width: 20%;
}

.day-temp {
    margin: 0 0 10px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 21px;
}

.day-time {
    margin: 0 0 10px;
    font-weight: 400;
}

.forecast-block-content-wrapper-right{
  display: inline-block;
  width: 50%;
}

.forecast-block-content-wrapper-left{
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.forecast-block-content-temperature {
  display: inline-block;
  padding: 0 20px 0 0;
  vertical-align: top;
  font-size: 100px;
  line-height: 10px;
  width: 30%;
}

.forecast-header {
  margin: 0 0 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
}

.forecast-block-additional-first {
  padding: 0 20px 0 0;
  width: 30%;
}
