body {
  font-family: "Roboto", Arial, sans-serif;
}

.loading-icon-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a, ul, li {
  text-decoration: none !important;
  list-style-type: none !important;
}

.react-autosuggest__suggestions-list {
  margin: 0 !important;
  padding: 0 !important;
}

.input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid #6c757d;
  height: 38px;
  padding: 5px;
}

.input:focus {
  border: 2px solid #d6d6d6;
}

.input-group {
  flex-wrap: nowrap !important;
  margin-top: 10px;
}

.input-group button {
  max-height: 38px;
}

.drop-down button {
  border-radius: .25rem 0 0 .25rem;
  height: 38px;
}

.react-autosuggest__container {
  width: 100%
}

.drop-down_menu li a {
  color: black;
  list-style-type: none;
  border: none;
  text-decoration: none;
  font-size: 14px;
  min-width: 380px;
  padding: 10px !important;
}

.input-list {
  width: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.input-list_item {
  padding: 3px 20px;
  font-size: 15px;
  line-height: 24px;
}
.input-list_item:hover {
  cursor: pointer;
  background-color: #d6d6d6;
}

.alert-margin {
  margin: 10px 0px;
}

.info-block {
  padding: 10px 20px 10px;
}

.weather-icon-size {
  width: 80px;
  height: 80px;
  margin: 0px 10px 20px 10px;
}

.additional-icon-size {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.info-block-header {
  margin: 0 0 20px;
  padding: 0 0 15px;
}

.info-block-header-right {
  padding: 10px 0 0 0;
  float: right;
  display: inline-block;
}

.info-block-header-right button {
  background: none;
  border: none;
  color: #0d6efd
}

.info-block-header-right button:hover {
  color: #003f9c
}

.info-block-header-left {
  display: inline-block;
}

.info-block-header-left-place {
  font-size: 22px;
}

.info-block-additional {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
}

.info-block-additional-first {
  padding: 0 20px 0 0;
  width: 11%;
}

.info-block-additional-item-sun {
  display: inline-block;
  margin: 0 10px 0 0;
}

.info-block-content-temperature {
  display: inline-block;
  padding: 0 20px 0 0;
  vertical-align: top;
  font-size: 100px;
  line-height: 10px;
}

.day-period {
  display: inline-block;
  padding: 0 0 0 5%;
  width: 20%;
}

.day-temp {
  margin: 0 0 10px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 21px;
}

.day-time {
  margin: 0 0 10px;
  font-weight: 400;
}

.forecast-block-content-wrapper-right {
  display: inline-block;
  width: 50%;
}

.forecast-block-content-wrapper-left {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.forecast-block-content-temperature {
  display: inline-block;
  padding: 0 20px 0 0;
  vertical-align: top;
  font-size: 100px;
  line-height: 10px;
  width: 30%;
}

.forecast-header {
  margin: 0 0 20px;
  padding: 0 0 15px;
  border-bottom: 1px solid #e1e1e1;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
}

.forecast-block-additional-first {
  padding: 0 20px 0 0;
  width: 30%;
}

.icon-fav {
  cursor: pointer;
}

.block-border {
  border-bottom: 1px solid #000000;
  margin-bottom: 25px;
}

.header {
  font-size: 35px;
  font-weight: 300;
  display: inline-block;
}